<h4></h4>
<section class="tabc">
  <div class="form-row">
    <p style="font-size: 14px;color: #7f7f7f">نکته : در هر صفحه جهت تصحیح اطلاعات می توانید دکمه قبلی را کلیک کنید
    </p>
  </div>
  <div class="form-row form-group">
    <div class="form-holder">
      <label for="">
        نام و نام خانوادگی
      </label>
      <div class="form-holder" style="width: initial">
        <input id="fullname" maxlength="100" autocomplete="off" type="text" class="form-control">
        <i class="material-icons">face</i>
      </div>
    </div>
    <div class="form-holder">
      <label for="">
        تاریخ تولد
      </label>
      <div class="form-holder" style="width: initial">
        <input id="birthDate" autocomplete="off" type="text" class="form-control persian_date">
        <i class="material-icons">calendar_month</i>
      </div>
    </div>
    <div class="form-holder">
      <label for="">
        محل تولد
      </label>
      <div class="form-holder" style="width: initial">
        <input id="locationbirthday" maxlength="100" autocomplete="off" type="text" class="form-control">
        <i class="material-icons">location_on</i>
      </div>
    </div>
  </div>
  <div class="form-row form-group">
    <div class="form-holder">
      <label for="">
        شماره شناسنامه
      </label>
      <div class="form-holder" style="width: initial">
        <input id="idNo" maxlength="100" autocomplete="off" type="text" class="form-control">
        <i class="material-icons">fingerprint</i>
      </div>
    </div>
    <div class="form-holder">
      <label for="">
        کد ملی
      </label>
      <div class="form-holder" style="width: initial">
        <input id="nationalCode" maxlength="100" autocomplete="off" type="text" class="form-control">
        <i class="material-icons">pin</i>
      </div>
    </div>
    <div class="form-holder">
      <div class="form-holder" style="width: initial">
        <label for="">
          وضعیت تاهل
        </label>
        <div class="form-row form-group">
          <input id="marital-1" class="radio-custom" name="marital" value="1" type="radio">
          <label for="marital-1" class="radio-custom-label">مجرد </label>
          <input id="marital-2" class="radio-custom" name="marital" value="2" type="radio">
          <label for="marital-2" class="radio-custom-label">متاهل </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row form-group">
    <div class="form-holder">
      <label for="">
        تعداد افراد تحت تکفل
      </label>
      <div class="form-holder" style="width: initial">
        <select name="" required id="dependentCount" class="form-control">
          <option value="" disabled selected class="option"></option>
          <option value="0" class="option">هیچ</option>
          <option value="1" class="option">1</option>
          <option value="2" class="option">2</option>
          <option value="3" class="option">3</option>
          <option value="4" class="option">4</option>
        </select>
        <i class="material-icons">arrow_drop_down</i>
      </div>
    </div>
    <div class="form-holder">
      <label for="">
        تعداد فرزندان
      </label>
      <div class="form-holder" style="width: initial">
        <select name="" required id="childCount" class="form-control">
          <option value="" disabled selected class="option"></option>
          <option value="0" class="option">هیچ</option>
          <option value="1" class="option">1</option>
          <option value="2" class="option">2</option>
          <option value="3" class="option">3</option>
          <option value="4" class="option">4</option>
        </select>
        <i class="material-icons">child_care</i>
      </div>
    </div>
    <div class="form-holder">
      <label for="">
        زبان مادری
      </label>
      <div class="form-holder" style="width: initial">
        <input id="mothertongue" maxlength="100" autocomplete="off" type="text" class="form-control">
        <i class="material-icons">language</i>
      </div>
    </div>

  </div>
  <div class="form-row form-group">
    <div class="form-holder">
      <div class="form-holder" style="width: initial">
        <label for="">
          وضعیت نظام وظیفه
        </label>
        <div class="form-row form-group">
          <input id="military-1" class="radio-custom" name="military" value="0" type="radio">
          <label for="military-1" class="radio-custom-label">معاف از خدمت </label>

          <input id="military-2" class="radio-custom" name="military" value="1" type="radio" checked>
          <label for="military-2" class="radio-custom-label">پایان خدمت </label>

        </div>
      </div>
    </div>
    <div class="form-holder">
      <label for="">
        نام پدر
      </label>
      <div class="form-holder" style="width: initial">
        <input id="fathername" maxlength="100" autocomplete="off" type="text" class="form-control">
        <i class="material-icons">man_2</i>
      </div>
    </div>
    <div class="form-holder">
      <label for="">
        سن پدر
      </label>
      <div class="form-holder" style="width: initial">
        <input id="fatherage" maxlength="100" autocomplete="off" type="text" class="form-control">
        <i class="material-icons">tag</i>
      </div>
    </div>
  </div>
  <div class="form-row form-group">
    <div class="form-holder">
      <label for="">
        شغل پدر
      </label>
      <div class="form-holder" style="width: initial">
        <input id="fatherjob" maxlength="100" autocomplete="off" type="text" class="form-control">
        <i class="material-icons">work_alert</i>
      </div>
    </div>
    <div class="form-holder">
      <label for="">
        نام مادر
      </label>
      <div class="form-holder" style="width: initial">
        <input id="mothername" maxlength="100" autocomplete="off" type="text" class="form-control">
        <i class="material-icons">woman</i>
      </div>
    </div>
    <div class="form-holder">
      <label for="">
        سن مادر
      </label>
      <div class="form-holder" style="width: initial">
        <input id="motherage" maxlength="100" autocomplete="off" type="text" class="form-control">
        <i class="material-icons">123</i>
      </div>
    </div>
  </div>
  <div class="form-row form-group">
    <div class="form-holder">
      <label for="">
        شغل مادر
      </label>
      <div class="form-holder" style="width: initial">
        <input id="motherjob" maxlength="100" autocomplete="off" type="text" class="form-control">
        <i class="material-icons">work</i>
      </div>
    </div>
    <div class="form-holder">
      <label for="">
        تعداد خواهر
      </label>
      <div class="form-holder" style="width: initial">
        <select name="" required id="sistercount" class="form-control">
          <option value="" disabled selected class="option"></option>
          <option value="0" class="option">ندارم</option>
          <option value="1" class="option">1</option>
          <option value="2" class="option">2</option>
          <option value="3" class="option">3</option>
        </select>
        <i class="material-icons">arrow_drop_down</i>
      </div>
    </div>
    <div class="form-holder">
      <label for="">
        تعداد برادر
      </label>
      <div class="form-holder" style="width: initial">
        <select name="" required id="brothercount" class="form-control">
          <option value="" disabled selected class="option"></option>
          <option value="0" class="option">ندارم</option>
          <option value="1" class="option">1</option>
          <option value="2" class="option">2</option>
          <option value="3" class="option">3</option>
        </select>
        <i class="material-icons">arrow_drop_down</i>
      </div>
    </div>
  </div>
  <div class="form-row form-group">
    <div class="form-holder">
      <div class="form-holder" style="width: initial">
        <label for="">
          وضعیت مسکن
        </label>
        <div class="form-row form-group">
          <input id="house-1" class="radio-custom" name="house" value="1" type="radio">
          <label for="house-1" class="radio-custom-label">شخصی</label>
          <input id="house-2" class="radio-custom" name="house" value="2" type="radio">
          <label for="house-2" class="radio-custom-label">استیجاری</label>
          <input id="house-3" class="radio-custom" name="house" value="3" type="radio">
          <label for="house-3" class="radio-custom-label">خوابگاه</label>
        </div>
      </div>
    </div>
    <div class="form-holder">
      <label for="">
        نحوه آشنایی و مراجعه به این گروه؟
      </label>
      <div class="form-holder" style="width: initial">
        <input id="method" maxlength="100" autocomplete="off" type="text" class="form-control">
        <i class="material-icons">face</i>
      </div>
    </div>

  </div>
  {#    <script>#}
  {#        var number = /^[0-9]$/;#}
  {#        $('#personalcode').on('keypress input', function (event) {#}
  {#            if (event.type == "keypress") {#}
  {#                if (number.test(event.key)) {#}
  {#                    return true;#}
  {#                }#}
  {#                return false;#}
  {#            }#}
  {#            if (event.type == 'input') {#}
  {#                var bufferValue = $(this).val().replace(/\D/g, '');#}
  {#                $(this).val(bufferValue);#}
  {#            }#}
  {#        })#}
  {#    </script>#}
</section>