<h4></h4>
<section class="tabc">
    <div class="form-row">
        <p>توانمندی خود را در زمینه ویرایش متون و بیان و گفتار شیوا از 1 تا 5 با چه نمره ای ارزیابی
            میکنید؟</p>
    </div>
    <div class="form-group">
        <div class="purpose-radio">
            <input type="radio" id="r41" value="1" class="purpose-radio-input" name="g4"
                   checked>
            <label for="r41" class="purpose-radio-label">
                   <span class="label-icon">
                     <img src="/static/wizard/images/icon_branding.svg" alt="branding" class="label-icon-default">
                     <img src="/static/wizard/images/icon_branding_green.svg" alt="branding" class="label-icon-active">
                   </span>
                <span class="label-text">1</span>
            </label>
        </div>
        <div class="purpose-radio">
            <input type="radio" id="r42" value="2" class="purpose-radio-input"
                   name="g4">
            <label for="r42" class="purpose-radio-label">
                    <span class="label-icon">
                      <img src="/static/wizard/images/icon_branding.svg" alt="branding" class="label-icon-default">
                      <img src="/static/wizard/images/icon_branding_green.svg" alt="branding"
                           class="label-icon-active">
                    </span>
                <span class="label-text">2</span>
            </label>
        </div>
        <div class="purpose-radio">
            <input type="radio" id="r43" value="3" class="purpose-radio-input"
                   name="g4">
            <label for="r43" class="purpose-radio-label">
                      <span class="label-icon">
                        <img src="/static/wizard/images/icon_branding.svg" alt="branding" class="label-icon-default">
                        <img src="/static/wizard/images/icon_branding_green.svg" alt="branding"
                             class="label-icon-active">
                      </span>
                <span class="label-text">3</span>
            </label>
        </div>
        <div class="purpose-radio">
            <input type="radio" id="r44" value="4" class="purpose-radio-input"
                   name="g4">
            <label for="r44" class="purpose-radio-label">
                      <span class="label-icon">
                        <img src="/static/wizard/images/icon_branding.svg" alt="branding" class="label-icon-default">
                        <img src="/static/wizard/images/icon_branding_green.svg" alt="branding"
                             class="label-icon-active">
                      </span>
                <span class="label-text">4</span>
            </label>
        </div>
        <div class="purpose-radio">
            <input type="radio" id="r45" value="5" class="purpose-radio-input"
                   name="g4">
            <label for="r45" class="purpose-radio-label">
                      <span class="label-icon">
                        <img src="/static/wizard/images/icon_branding.svg" alt="branding" class="label-icon-default">
                        <img src="/static/wizard/images/icon_branding_green.svg" alt="branding"
                             class="label-icon-active">
                      </span>
                <span class="label-text">5</span>
            </label>
        </div>
    </div>


    <div class="form-row form-group">
        <div class="form-holder">
            <label for="">
                آیا ورزش/ هنر و یا نواختن یک ساز موسیقی را بصورت حرفه ای انجام میدهید؟
            </label>
            <div class="form-holder" style="width: initial">
                <input id="sport" maxlength="250" autocomplete="off" type="text" class="form-control">
                <i class="material-icons">sports_martial_arts</i>
            </div>
        </div>
        <div class="form-holder">
            <label for="">
                در اوقات فراغت خود چه میکنید؟ سه فعالیت با تکرار بیشتر را بنویسید.
            </label>
            <div class="form-holder" style="width: initial">
                <input id="freetime" maxlength="250" autocomplete="off" type="text" class="form-control">
                <i class="material-icons">sentiment_satisfied_alt</i>
            </div>
        </div>
    </div>

    <div class="form-row">
        <label for="">
            در طول هفته چقدر کتاب میخوانید؟ آخرین کتابی که خوانده اید و لذت بخش ترین کتابی که تاکنون مطالعه
            کرده اید چه بوده است؟
        </label>
        <div class="form-holder">
            <input id="book" maxlength="250" autocomplete="off" type="text" class="form-control">
            <i class="material-icons">auto_stories</i>
        </div>
    </div>

    <div class="form-row form-group">
        <div class="form-holder">
            <label for="">
                روزانه چقدر و از چه کانالی، اخبار روز دنیا و کشور را دنبال میکنید؟
            </label>
            <div class="form-holder" style="width: initial">
                <input maxlength="250" id="news" autocomplete="off" type="text" class="form-control">
                <i class="material-icons">rss_feed</i>
            </div>
        </div>

        <div class="form-holder" >
            <label for="">
               در طول هفته چند کار نیکوکارانه می کنید؟
            </label>
            <div class="form-holder" style="width: initial">
                <input maxlength="250" id="goodwork" autocomplete="off" type="text" class="form-control">
                <i class="material-icons">add_reaction</i>
            </div>
        </div>
    </div>


    <div class="form-row form-group">
        <div class="form-holder">
            <label for="">
                تجربه کار در یک شرکت دانش بنیان یا نوپا (استارتاپ) را دارید؟
            </label>
            <div class="form-holder" style="width: initial">
                <input maxlength="250" id="work" autocomplete="off" type="text" class="form-control">
                <i class="material-icons">work</i>
            </div>
        </div>
        <div class="form-holder">
            <label for="">
                سابقه عضویت و فعالیت در یک حزب/ انجمن یا NGO را دارید؟
            </label>
            <div class="form-holder" style="width: initial">
                <input id="ngo" maxlength="250" autocomplete="off" type="text" class="form-control">
                <i class="material-icons">group</i>
            </div>
        </div>
    </div>


    <div class="form-row">
        <label for="">
            آیا بنا به تجربیات یا پیش زمینه های قبلی فعالیت های حرفه ای و اجتماعی خود، ارتباطات و تعاملات
            بسیار قوی با جامعه بیرون از سازمان دارید؟<kbd style="font-size: 15px;font-weight: normal"> لطفا
            توضیح دهید. بطور مثال همکاری که بواسطه هیات علمی
            بودن در دانشگاه، ارتباطات قوی با اساتید دانشگاهی و حوزه آکادمیک دارد.</kbd>
        </label>
        <div class="form-holder">
            <textarea id="outfactory" name="" class="form-control area"></textarea>
            <i class="material-icons big">work_outline</i>
        </div>
    </div>
</section>