<h4></h4>
<section class="tabc">
    <div class="form-row">
        <label for="">
            موفقیت را در یک جمله از نگاه خود تعریف کنید.
        </label>
        <div class="form-holder" style="width: initial">
            <textarea id="success" name="" class="form-control area"></textarea>
            <i class="material-icons big">mood</i>
        </div>
    </div>
    <div class="form-row">
        <label for="">
            اگر حجم انبوهی از پول و سرمایه را آرین سعید در اختیار شما قرار دهد و از شما بخواهد آن را برای سازمان صرف
            کنید، تصمیم شما برای آن چیست؟
        </label>
        <div class="form-holder" style="width: initial">
            <textarea id="money" name="" class="form-control area"></textarea>
            <i class="material-icons big">paid</i>
        </div>
    </div>
    <div class="form-row">
        <label for="">

        </label>
        <div class="form-holder" style="width: initial">
            <div class="form-row">
                <p>اگر سه سال آینده را مثل سه سال گذشته خود بگذرانید، از خود راضی خواهید بود؟ (منظور صرفا عملکرد خود شماست سایر
                    شرایط اثرگذار را کاملا کنار بگذارید)</p>
            </div>
            <div class="form-group">
                <div class="purpose-radio">
                    <input type="radio" id="r151" value="1" class="purpose-radio-input" name="g15"
                           checked>
                    <label for="r151" class="purpose-radio-label">
                   <span class="label-icon">
                     <img src="/static/wizard/images/icon_branding.svg" alt="branding" class="label-icon-default">
                     <img src="/static/wizard/images/icon_branding_green.svg" alt="branding" class="label-icon-active">
                   </span>
                        <span class="label-text">1</span>
                    </label>
                </div>
                <div class="purpose-radio">
                    <input type="radio" id="r152" value="2" class="purpose-radio-input"
                           name="g15">
                    <label for="r152" class="purpose-radio-label">
                    <span class="label-icon">
                      <img src="/static/wizard/images/icon_branding.svg" alt="branding" class="label-icon-default">
                      <img src="/static/wizard/images/icon_branding_green.svg" alt="branding"
                           class="label-icon-active">
                    </span>
                        <span class="label-text">2</span>
                    </label>
                </div>
                <div class="purpose-radio">
                    <input type="radio" id="r153" value="3" class="purpose-radio-input"
                           name="g15">
                    <label for="r153" class="purpose-radio-label">
                      <span class="label-icon">
                        <img src="/static/wizard/images/icon_branding.svg" alt="branding" class="label-icon-default">
                        <img src="/static/wizard/images/icon_branding_green.svg" alt="branding"
                             class="label-icon-active">
                      </span>
                        <span class="label-text">3</span>
                    </label>
                </div>
                <div class="purpose-radio">
                    <input type="radio" id="r154" value="4" class="purpose-radio-input"
                           name="g15">
                    <label for="r154" class="purpose-radio-label">
                      <span class="label-icon">
                        <img src="/static/wizard/images/icon_branding.svg" alt="branding" class="label-icon-default">
                        <img src="/static/wizard/images/icon_branding_green.svg" alt="branding"
                             class="label-icon-active">
                      </span>
                        <span class="label-text">4</span>
                    </label>
                </div>
                <div class="purpose-radio">
                    <input type="radio" id="r155" value="5" class="purpose-radio-input"
                           name="g15">
                    <label for="r155" class="purpose-radio-label">
                      <span class="label-icon">
                        <img src="/static/wizard/images/icon_branding.svg" alt="branding" class="label-icon-default">
                        <img src="/static/wizard/images/icon_branding_green.svg" alt="branding"
                             class="label-icon-active">
                      </span>
                        <span class="label-text">5</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <label for="">
            مایلید در یک سال آینده چه مهارت و توانمندی ای را آموخته باشید که تاکنون به فراگیری آن اهمیت جدی نداده اید؟
        </label>
        <div class="form-holder" style="width: initial">
            <textarea id="learning" name="" class="form-control area"></textarea>
            <i class="material-icons big">local_library</i>
        </div>
    </div>
</section>