<h4></h4>
<section class="tabc">
                <div class="form-row">
                    <label for="">
                       پیشنهادی برای یک تغییر ساختاری در سازمان دارید که از نظرتان بهره وری را بالا میبرد؟
                    </label>
                    <div class="form-holder" style="width: initial">
                        <textarea id="suggest" name="" class="form-control area"></textarea>
                        <i class="material-icons big">all_inclusive</i>
                    </div>
                </div>
                <div class="form-row">
                    <label for="">
                        فکر میکنید آرین سعید در آینده در چه حوزه هایی موفق تر خواهد بود؟
                    </label>
                    <div class="form-holder" style="width: initial">
                        <textarea id="area" name="" class="form-control area"></textarea>
                        <i class="material-icons big">model_training</i>
                    </div>
                </div>
                <div class="form-row">
                    <label for="">
                        آیا حوزه جدیدی را پیشنهاد دارید که بنظرتان سازمان باید برایش استراتژی تدوین و به آن ورود کند؟
                    </label>
                    <div class="form-holder" style="width: initial">
                        <textarea id="newarea" name="" class="form-control area"></textarea>
                        <i class="material-icons big">mediation</i>
                    </div>
                </div>
                <div class="form-row">
                    <label for="">
                        به نظر شما آرین سعید چه ضعف ها و مشکلاتی دارد که شما می توانید حل کنید؟
                    </label>
                    <div class="form-holder" style="width: initial">
                        <textarea id="solution" name="" class="form-control area"></textarea>
                        <i class="material-icons big">emoji_objects</i>
                    </div>
                </div>
</section>