<h4></h4>
<section class="tabc">

    <div class="form-row">
        <label for="">
            یک روز ایده آل کاری از نظر شما چگونه است؟ یک روز کاری با چه اتفاقات و شاخصه هایی تبدیل به یک روز
            ایده آل میشود؟
        </label>
        <div class="form-holder" style="width: initial">
            <textarea id="goodday" autocomplete="off" class="form-control area"></textarea>
            <i class="material-icons big">thumb_up_alt</i>
        </div>
    </div>
    <div class="form-row form-group">
        <div class="form-holder">
            <label for="" style="min-height: 70px">
                سخت ترین و پرچالش ترین بخش کاری شما چیست؟
            </label>
            <div class="form-holder" style="width: initial">
                <textarea id="hard" autocomplete="off" class="form-control area"></textarea>
                <i class="material-icons big">sentiment_dissatisfied</i>
            </div>
        </div>
        <div class="form-holder">
            <label for="" style="min-height: 70px">
                یک راهکار اثربخش که برای حل آن چالش بکار برده اید، چه بوده است؟
            </label>
            <div class="form-holder" style="width: initial">
                <textarea id="hard2" autocomplete="off" class="form-control area"></textarea>
                <i class="material-icons big">emoji_objects</i>
            </div>
        </div>
    </div>
    <div class="form-row ">
        <label style="padding-bottom: 20px" for="">
            از نظر شاخصه های زیر با چه نوع افرادی راحت تر کار میکنید و نتایج بهتری از
            کار با
            آنان میگیرید؟
        </label>
    </div>
    <div class="form-group form-row">
        <div class="form-holder" style="width: 15%">
            <div class="form-group form-row">
                <p style="padding-left: 5px">
                    سنــی</p>
                    <div class="form-holder" style="width: initial">
                        <select required name="" id="age" class="form-control">
                            <option value="" disabled selected class="option"></option>
                            <option value="بزرگتر از خودم" class="option">بزرگتر از خودم</option>
                            <option value="کوچکتر از خودم" class="option">کوچکتر از خودم</option>
                            <option value="هم سن خودم" class="option">هم سن خودم</option>
                            <option value="فرقی ندارد" class="option">فرقی ندارد</option>
                        </select>
                        <i class="material-icons">arrow_drop_down</i>
                    </div>
            </div>
        </div>
        <div class="form-holder" style="width: 15%">
            <div class="form-group form-row">
                <p style="padding-left: 5px">
                    جنسیتی</p>
                <div class="form-holder" style="width: 100%">
                    <select required name="" id="gender" class="form-control">
                        <option value="" disabled selected class="option"></option>
                        <option value="خـانم" class="option">خـانم</option>
                        <option value="آقـا" class="option">آقـا</option>
                        <option value="فـرقی ندارد" class="option">فـرقی ندارد</option>
                    </select>
                    <i class="material-icons">arrow_drop_down</i>
                </div>
            </div>
        </div>
        <div class="form-holder" style="width: 30%">
            <div class="form-group form-row">
                <p style="text-wrap:nowrap;padding-left: 5px">دانش
                    و
                    سوادی</p>
                <div class="form-holder" style="width: 100%">
                    <select required name="" id="knowlage" class="form-control">
                        <option value="" disabled selected class="option"></option>
                        <option value="تحصیلات عالی داشته باشد" class="option">تحصیلات عالی داشته باشد</option>
                        <option value="تجربه برای من مهمتر است" class="option">تجربه برای من مهمتر است</option>
                        <option value="فـرقی ندارد،مهم انجام کار است" class="option">فـرقی ندارد،مهم انجام کار است</option>
                    </select>
                    <i class="material-icons">arrow_drop_down</i>
                </div>
            </div>
        </div>

        <div class="form-holder" style="width: 35%">
            <div class="form-group form-row">
                <div style="display: flex;align-items: center"><p class="tooltip" style="display: flex;
        flex-direction:row-reverse;align-items: baseline;padding-left: 5px"><i
                        class="material-icons tooltip" style="position: relative;left: 0!important;">info</i> شخصیتی
                    <span class="tooltiptext">به عنوان مثال : مطیع و آرام- چالشگر و پرسش کننده- درونگرا- برونگرا و ...</span>
                </div>
                <div class="form-holder" style="width: 100%">
                    <input id="personality" maxlength="250" autocomplete="off"
                           class="form-control"/>
                    <i class="material-icons">emoji_people</i>
                </div>
            </div>
        </div>

    </div>

</section>