<h4></h4>
<section class="tabc">
    <div class="form-row">
        <label for="">
             چه چیزی از حرفه خود را بیشتر دوست دارید؟
        </label>
        <div class="form-holder" style="width: initial">
            <input maxlength="250" id="like" autocomplete="off" type="text" class="form-control">
            <i class="material-icons">thumb_up</i>
        </div>
    </div>
    <div class="form-row">
        <label for="">
            چه چیزی از حرفه خود را کمتر میپسندید؟
        </label>
        <div class="form-holder" style="width: initial">
            <input maxlength="250" id="dislike" autocomplete="off" type="text" class="form-control">
            <i class="material-icons">thumb_down</i>
        </div>
    </div>
    <div class="form-row">
        <label for="">
             مدیران آرین سعید همواره خلاقیت خود را ثابت کردند؛مصداقی بارز
            از یکی از اقدامات خلاقانه خود در کار و در فضای آرین سعید را مثال بزنید.
        </label>
        <div class="form-holder" style="width: initial">
            <textarea id="creative" autocomplete="off" class="form-control area"></textarea>
            <i class="material-icons big">emoji_objects</i>
        </div>
    </div>
    <div class="form-row">
        <label for="">
        به نظر شما کدام ویژگی رفتاری در رهبری یک گروه بسیار مهم است که خودتان آن را خیلی خوب به کار می برید؟
        </label>
        <div class="form-holder" style="width: initial">
            <textarea id="leader" autocomplete="off"  class="form-control area"></textarea>
            <i class="material-icons big">leaderboard</i>
        </div>
    </div>
</section>