<h4></h4>
<section class="tabc">
    <div class="form-row">
        <label for="">
            چه شاخصه هایی از یک کارآفرین را در خود سراغ دارید؟
        </label>
        <div class="form-holder" style="width: initial">
            <input maxlength="250" id="entrepreneur" autocomplete="off" type="text" class="form-control">
            <i class="material-icons">manage_accounts</i>
        </div>
    </div>
    <br/>
    <div class="form-row">
        <label for="">
            اگر عقیده دارید که فقط و فقط به یک دلیل بارز شما یک ستاره در آرین سعید هستید، آن یک دلیل چیست؟
            آن یک دلیلی که شما را بسیار شاخص و خاص کرده است و فکر میکنید به همان دلیل اثربخشی ای در سازمان
            دارید که خاص خود شماست.
        </label>
        <div class="form-holder" style="width: initial">
            <textarea id="star" autocomplete="off" type="text" class="form-control area"></textarea>
            <i class="material-icons">star</i>
        </div>
    </div>
    <div class="form-group form-row">
        <div class="form-holder">
            <label style="padding-bottom: 10px" for="">
                هنگام مواجهه با چند موضوع و مساله کاری، ترجیح میدهید:
            </label>
            <label class="m">
                <input type="radio" value="1" name="g17" checked/>
                <span>متمرکز به سراغ هرکدام بروید و یکی یکی حل کنید</span>
            </label>
            <label class="m">
                <input type="radio" value="2" name="g17"/>
                <span>انجام یکباره چند کار بطور همزمان را ترجیح میدهید</span>
            </label>
        </div>

        <div class="form-holder">
            <label style="padding-bottom: 10px" for="">
                در مواجهه با یک مساله و مشکل پیچیده ترجیح میدهید:
            </label>
             <label class="m">
                <input type="radio" value="1" name="g18" checked/>
                <span>آن را به چند مساله جزیی و کوچکتر بشکنید</span>
            </label>
            <label class="m">
                <input type="radio" value="2" name="g18"/>
                <span>کل مساله را یکجا میبینید و به حل آن فکر میکنید</span>
            </label>
        </div>
    </div>
    <br/>
    <div class="form-row">
        <label for="">
            یک تجربه در کار که از نگاه خودتان ناکامی بوده را بنویسید و بگویید چه تحلیل و یادگیری ای از این تجربه داشتید؟
        </label>
        <div class="form-holder" style="width: initial">
            <textarea id="broke" name="" class="form-control area"></textarea>
            <i class="material-icons big">heart_broken</i>
        </div>
    </div>
</section>