   <h4></h4>
            <section class="tabc">
                <div class="form-row">
                    <label for="">
                        آیا صاحب ایده برتر پژوهشی در سازمان هستید و یا تاکنون در اجرای طرح های پژوهشی سازمان مشارکت
                        داشته اید؟ با ذکر جزییات اعلام بفرمایید.
                    </label>
                    <div class="form-holder" style="width: initial">
                        <textarea id="biotech" name="" class="form-control area"></textarea>
                        <i class="material-icons big">biotech</i>
                    </div>
                </div>
                <div class="form-row">
                    <label for="">
                        آیا تاکنون در آموزش های اثربخش و کاربردی سازمان مشارکت داشته اید؟ با ذکر جزییات اعلام بفرمایید.
                    </label>
                    <div class="form-holder" style="width: initial">
                        <textarea id="science" name="" class="form-control area"></textarea>
                        <i class="material-icons big">science</i>
                    </div>
                </div>
                <div class="form-row">
                    <label for="">
                        آیا تالیف مقاله/کتاب و یا ثبت اختراع و اکتشاف داشته اید؟ در دو حالت مرتبط و یا بی ارتباط به
                        فعالیت های سازمان ذکر کنید.
                    </label>
                    <div class="form-holder" style="width: initial">
                        <textarea id="invention" name="" class="form-control area"></textarea>
                        <i class="material-icons big">auto_awesome</i>
                    </div>
                </div>
            </section>