                      <h4></h4>
                        <section class="tabc">
                            <div class="form-row">
                                <p>خواهشمند است در صورتی که در هر یک از واحدهای شغلی ذیل فعالیت داشتید اطلاعات مربوطه را تکمیل
                                    بفرمایید:</p>
                            </div>
                            <div class="checkbox-circle">
                                <label class="active">
                                    <input type="radio" name="billing method" value="Direct bank transfer">گزینه اول
                                    <span class="checkmark"></span>
                                    <div class="tooltip">
                                        گزینه اول - ا
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="billing method" value="Check payments">گزینه دوم
                                    <span class="checkmark"></span>
                                    <div class="tooltip">
                                        گزینه اول - 2
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="billing method" value="Cash on delivery">گزینه سوم
                                    <span class="checkmark"></span>
                                    <div class="tooltip">
                                        گزینه اول - 43
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="billing method" value="Cash on delivery">گزینه چهارم
                                    <span class="checkmark"></span>
                                    <div class="tooltip">
                                        هیچ کدام
                                    </div>
                                </label>
                            </div>
                        </section>
